@{
    Layout = "~/Views/Shared/_layouth.cshtml";
    ViewData["Title"] = "Journey-NotFound"; 
}

<div class="container h-100">
    <div class="p-5 h-100">
        <ul class="list-group overflow-auto h-100">
            <li class="m-0 p-0 mb-2" style="list-style: none;position: sticky; top: 0; z-index: 1">
                <nav class="navbar navbar-expand-lg navbar-dark bg-danger p-3 text-white d-flex justify-content-center">
                    <div onclick="window.location.href = '/home/index'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                        </svg>
                    </div>
                    <div class="text-center w-100">
                        <span class="d-block text-white">Aranan kriterlere uygun sefer bulunamadı</span>
                       
                    </div>

                </nav>
            </li>
        </ul>
     </div>
 </div>
