<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - My Application</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
  <style>
        .navbar-custom {
            height: 50px;
        }
  </style>
</head>
<body class="bg-body-secondary">

    <main>
        @RenderBody() 
    </main>
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="general-toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Kapat"></button>
            </div>
        </div>
    </div>
    <footer>
    </footer>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
<script>
   
    function decodeHtmlEntities(text) {
        let parser = new DOMParser();
        let doc = parser.parseFromString(text, "text/html");
        return doc.documentElement.textContent;
    }

    function showToast(message, type = "success") {
        let toastEl = document.getElementById("general-toast");
        let toastBody = toastEl.querySelector(".toast-body");

        toastBody.innerText = message;

        toastEl.classList.remove("bg-success", "bg-danger", "bg-warning", "bg-info");
        toastEl.classList.add(`bg-${type}`);

        let toast = new bootstrap.Toast(toastEl);
        toast.show();
    }
</script>
</html>
